html,
body,
#app,
.el-container {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.el-upload.el-upload--text {
    --el-upload-dragger-padding-horizontal: 40px;
    --el-upload-dragger-padding-vertical: 10px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    outline: none;
}